.h1{
    text-align: center;
}
.resume{
    background-color: grey;
}

.photo{
    float:right;
    padding-right: 200px;
}

.extrainf{
    background-color: grey;
}
body{
    background-color: rgb(128, 120, 120);
}

footer{
    background-color:grey;
    padding:50px;
}